<aside class="menu-sidebar d-none d-lg-block">
    <!-- <div class="logo"> -->
        <!-- <a href="#"> -->
            <img src="assets/images/download.jpg" alt="XYZ Company" class="img-responsive" style="height: 70px;width: 200px;">
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
                <i class="fa fa-home" style='font-size:20px;color:red'><a href="http://localhost:4200/">Home</a></i>
              </li>
            <li>
              <i class='fas fa-book' style='font-size:20px;color:red'><a href="bookslist">Add Books</a></i>
            </li>
            <li>
              <i  class='fas fa-users' style='font-size:20px;color:red'><a href="studentslist">Add Students</a></i>
            </li>
            <!-- <li>
              <i  class='fas fa-user-tie' style='font-size:20px;color:red'> <a href="#">Add Staff</a></i>
            </li> -->
            <li>
              <i  class='fas fa-book-reader' style='font-size:20px;color:red'>  <a href="issuebookform">Issue Book</a></i>
            </li>
            <li>
              <i  class='fas fa-book' style='font-size:20px;color:red'> <a href="returnbookform">Return Book</a></i>
          </li>
          <li>
            <i  class='fas fa-sign-out-alt' style='font-size:20px;color:red'> <a href="http://localhost:4200/login">LogOut</a></i>
        </li>
        </ul>
    </nav>
  </div>
  </aside>
  <div class="main-content">
      <div class="section-content section-content-p30">
          <div class="container-fluid">
             
              <form #spForm="ngForm" (ngSubmit)="onSubmit()">
                <div *ngIf="issuebook.sId==0"><h1>Add Issue Book Details</h1></div>
                <hr>
                <div *ngIf="issuebook.sId>0"><h1>Update Employee</h1></div>
                  <div class="form-group row">
                      <label class ="col-sm-2 col-form-label">Student ID</label>
                      <div class ="col-sm-10">
                          <input type ="text" name="sId" [(ngModel)]="issuebook.sId" />
                         
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class ="col-sm-2 col-form-label">Student Name</label>
                      <div class ="col-sm-10">
                          <input type ="text" name="sName"[(ngModel)]="issuebook.sName" />
                      </div>
                    </div>
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label">Book_Id</label>
                        <div class ="col-sm-10">
                            <input type ="text" name="bookid"  [(ngModel)]="issuebook.bookid"/>
                        </div>
                      </div>
                      <div class="form-group row">
                      <label class ="col-sm-2 col-form-label">Book_Name</label>
                      <div class ="col-sm-10">
                          <input type ="text" name="book_name"  [(ngModel)]="issuebook.book_name"/>
                      </div>
                      </div>
                      
                    <div class="form-group row">
                        <label class ="col-sm-2 col-form-label"> Issue_Date</label>
                        <div class ="col-sm-10">
                            <input type ="date" name="issue_date" [(ngModel)]="issuebook.issue_date" />
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label class ="col-sm-2 col-form-label"> Return_Date</label>
                        <div class ="col-sm-10">
                            <input type ="date" name="return_date"  [(ngModel)]="issuebook.return_date"/>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                          <label class ="col-sm-2 col-form-label"> Quantity</label>
                          <div class ="col-sm-10">
                              <input type ="text" name="quantity"  [(ngModel)]="issuebook.quantity"/>
                          </div>
                        </div>
    
                    
                      <div class="form-group row">
                        <div class="col-sm-2"><button type ="submit"class="btn btn-info">Submit</button></div>
                        <div class="col-sm-2"><button type="reset" class="btn btn-info">Reset</button></div>
                      </div>
                  </form>
    </div>
    </div>
    </div>
