<div class="page-wrapper">

    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar d-none d-lg-block">
        <!-- <div class="logo"> -->
            <!-- <a href="#"> -->
                <img src="assets/images/download.jpg" alt="XYZ Company" class="img-responsive" style="height: 70px;width: 200px;">
            <!-- </a>
        </div> -->
        <div class="menu-sidebar-content js-scrollbar1">
            <nav class="navbar-sidebar">
                <ul class="list-unstyled navbar-list">
                    <li>
                        <i class="fa fa-home" style='font-size:20px;color:red'><a href="http://localhost:4200/">Home</a></i>
                      </li>
                    <li>
                      <i class='fas fa-book' style='font-size:20px;color:red'><a href="bookslist">Add Books</a></i>
                    </li>
                    <li>
                      <i  class='fas fa-users' style='font-size:20px;color:red'><a href="studentslist">Add Students</a></i>
                    </li>
                    <!-- <li>
                      <i  class='fas fa-user-tie' style='font-size:20px;color:red'> <a href="#">Add Staff</a></i>
                    </li> -->
                    <li>
                      <i  class='fas fa-book-reader' style='font-size:20px;color:red'>  <a href="issuebookform">Issue Book</a></i>
                    </li>
                    <li>
                      <i  class='fas fa-book' style='font-size:20px;color:red'> <a href="returnbookform">Return Book</a></i>
                  </li>
                  <li>
                    <i  class='fas fa-sign-out-alt' style='font-size:20px;color:red'> <a href="http://localhost:4200/login">LogOut</a></i>
                </li>
                </ul>
            </nav>
        </div>
 </aside>  
<h1 style="text-align:center">Welcome To Liberary Management System</h1>
                <img src= "assets/images/book.jpg" alt="" width="1880" style=" height: 90vh" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">